<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="LightningProtection.mapper.AssetsMapper">
    <resultMap id="AssetsInfoMap" type="LightningProtection.pojo.ta_assets" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="assets_name" property="assets_name" jdbcType="VARCHAR" />
        <result column="used_dept" property="used_dept" jdbcType="VARCHAR" />
        <result column="used_user" property="used_user" jdbcType="VARCHAR"/>
        <result column="purchase_price" property="purchase_price" jdbcType="BIGINT" />
        <result column="purchase_date" property="purchase_date" jdbcType="VARCHAR" />
        <result column="purchase_user" property="purchase_user" jdbcType="VARCHAR" />
        <!--<result column="create_time" property="create_time" jdbcType="TIMESTAMP" />-->
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
    id, assets_name, used_dept, used_user, purchase_price, purchase_date, purchase_user
    </sql>
    <select id="selectByExample" resultMap="AssetsInfoMap" parameterType="LightningProtection.pojo.ta_assetsExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from ta_assets
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <delete id="deleteByExample" parameterType="LightningProtection.pojo.ta_assetsExample">
        delete from ta_assets
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from ta_assets
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" parameterType="LightningProtection.pojo.ta_assets">
        insert into ta_assets
        <trim prefix="(" suffix= ")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="assets_name != null">
                assets_name,
            </if>
            <if test="used_dept != null">
                used_dept,
            </if>
            <if test="used_user != null">
                used_user,
            </if>
            <if test="purchase_price != null">
                purchase_price,
            </if>
            <if test="purchase_date != null">
                purchase_date,
            </if>
            <if test="purchase_user != null">
                purchase_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="assets_name != null" >
                #{assets_name,jdbcType=VARCHAR},
            </if>
            <if test="used_dept != null" >
                #{used_dept,jdbcType=VARCHAR},
            </if>
            <if test="used_user != null" >
                #{used_user,jdbcType=VARCHAR},
            </if>
            <if test="purchase_price!= null" >
                #{purchase_price,jdbcType=BIGINT},
            </if>
            <if test="purchase_date != null" >
                #{purchase_date,jdbcType=VARCHAR},
            </if>
            <if test="purchase_user != null" >
                #{purchase_user,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>